.intro__list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 288px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 34px 0 0;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .intro__list {
        padding: 33px 0 0;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .intro__list {
        width: 100%;
        padding: 33px 0 0;
    }
}

@media screen and (min-width: 1280px) {

    .intro__list {
        width: 100%;
        padding: 33px 0 0;
    }
}