.lead__caption {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    bottom: 0;
    padding: 8px 0 0 16px;
    text-align: left;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .lead__caption {
        padding: 8px 0 0 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .lead__caption {
        padding: 8px 0 0 0;
    }
}

@media screen and (min-width: 1280px) {

    .lead__caption {
        padding: 8px 0 0 0;
    }
}