.place__url-heading {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    opacity: 0.8;
}